# Pandas

Pandas is an open source python library which contains data structures and data manipulation tools designed to make data cleaning and analysis fast and convenient in python.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008. It introduces two fundamental data structures: Series and DataFrame, which allow data to be organized, manipulated, and analyzed in a tabular format similar to spreadsheets or databases.

<b><u>Reasons why Datascience professionals are highly dependent on Pandas.</u></b>

1. Pandas simplifies the process of data handling and manipulation, allowing its users to clean, preprocess, and transform data.
2. It offers powerful tools for data analysis and exploration.
3. It provides functions for aggregating data, computing descriptive statistics, handling time series data, and working with categorical and textual data.
4. It excels at data integration and preparation. We can easily load data from different sources (such as CSV, Excel, SQL databases, and more), merge or join datasets, and perform data transformations before further analysis.

<h4>Installation</h4>

To install Pandas, you can execute the command mentioned below in your terminal or command prompt:

In [ ]:
!pip install pandas

### What do we learn in this segment?

Pandas is very vast and there is so much more to explore. But as a beginner, in order to understand the essence of this library, one needs to atleast practice the following steps and these will be covered in this segment.

1. Import Pandas library
2. Data types
3. Reading and writing Data
4. Data Exploration and cleaning
5. Data Manipulation
6. Data aggregation and grouping

<h3>1. Import pandas library</h3>

The initial step is to import the pandas library in order to use its functions. Normally pandas will be referred as pd (abbreviated form)

In [ ]:
import pandas as pd

Now that we have imported the pandas library and henceforth it will be referred as pd. Lets move on to its datatypes.

<h3>2. Data types</h3>

* Pandas series - which is a one-dimensional data
* Pandas Dataframe - which is a two-dimensional dataset

you can create a Series using pd.Series() and passing it a Python list.

In [ ]:
colors = pd.Series(['Blue', 'Red', 'Orange','Yellow'])
colors

0      Blue
1       Red
2    Orange
3    Yellow
dtype: object

In [ ]:
bikes = pd.Series(['Yamaha','Honda','TVS','Vespa'])
bikes

0    Yamaha
1     Honda
2       TVS
3     Vespa
dtype: object

Let us use the above mentioned Series objects to create a DataFrame.

In [ ]:
vehicle_df = pd.DataFrame({"Vehicle type": bikes,
                         "Color spec": colors})
vehicle_df

  Vehicle type Color spec
0       Yamaha       Blue
1        Honda        Red
2          TVS     Orange
3        Vespa     Yellow

Now let us explore few of the built-in function in the dataframe object.

In [ ]:
#prints the datatypes of the columns present in the dataframe.
#Note : column with any datatype can be added to the dataframe.
vehicle_df.dtypes

Vehicle type    object
Color spec      object
dtype: object

In [ ]:
#Displays the colulmns present in the dataframe.
vehicle_df.columns

Index(['Vehicle type', 'Color spec'], dtype='object')

So now we have learnt to create a series and dataframe object.

<h3>Reading Data</h3>

Now lets see how to import data from a csv or excel file and perform further operations.

1. To read a csv file, we should use read_csv option in pandas.
2. To read an excel file, read_excel option should be used.

Note:
The csv file given here is being downloaded from "Kaggle" website.

In [ ]:
car_data = pd.read_csv("car_prices.csv")
car_data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

<h3>3. Data Exploration and Cleaning</h3>

One of the first things you'll want to do after you import some data into a pandas DataFrame is to start exploring it.

Data cleaning deals with handing missing values

pandas has many built in functions which allow you to quickly get information about a DataFrame.

Let's explore some using the car_sales DataFrame.

In [ ]:
#Displays the first 5 columns
car_data.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [ ]:
#Upon mentioning the number columns to be displayed, this head method will retieve the given count of rows.
car_data.head(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,34.0,14943.0,black,black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,42.0,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

In [ ]:
#Likewise, we can see the last 5 records with the below given function
car_data.tail()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [ ]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

Info() will display the brief summary of the dataframe such as no of rows, total number of columns, datatype, column type(NULL o Non-NULL), memory usage per column. This will help in assessing the overall structure of the dataframe.

In [ ]:
# Returns the dimensions of the dataframe
car_data.shape

(558837, 16)

This dataframe contains 558837 rows and 16 columns.

In [ ]:
#Gives the data type of each columns
car_data.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [ ]:
#Detects the sum of all null values prsent in the dataframe.
car_data.isna().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

So we have found out how much na or null values are present in the dataframe. Now its time to handle these null values.
We can either fill the values with suitable alternate values or drop the null values.
This can be achieved with the following functions.
1. fillna() - Fill the null values with suitable alternate values. (0 or mean of the column)
2. dropna() - drop the null values.

The decision to fill or drop should taken wisely considering the usage of the column and the contribution of it to the dataset. If the colulmn containing null values is the most important one and if the insights are derived from that particular column, then it would be better choice to drop the value. Because, whatever data we fill will be based on our assumption, it won't be accurate. So it is better to derive proper insight with right data even if it is available in less number.

In [ ]:
#Now we will drop the null values in the car data dataframe

car_data = car_data.dropna()

car_data.isna().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

After dropping the null values, the dataset now has 0 null values.

The Describe function provides a quick statistical overview of the numerical columns present in the Data Frame.

In [ ]:
car_data.describe()

,year,condition,odometer,mmr,sellingprice
count,472325.000000,472325.000000,472325.000000,472325.000000,472325.000000
mean,2010.210980,30.774177,66701.732040,13837.058964,13690.512058
std,3.822151,13.286866,51939.586894,9532.229273,9613.033738
min,1990.000000,1.000000,1.000000,25.000000,1.000000
25%,2008.000000,24.000000,28137.000000,7425.000000,7200.000000
50%,2012.000000,35.000000,51085.000000,12300.000000,12200.000000
75%,2013.000000,41.000000,96590.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

* Count - Gives the number of non-null values
* mean - The average of the values present in the column
* std - Standard deviation value for the data present in the column
* min - minimum value present in the given column
* max - maximum value present in the given column
* 25% - 25 percentile (the value at which 25% of the answers lie below that value and 75% of the answers lie above that value.)
* 50% - 50 percentile (Also known as the Median. The median cuts the data set in half.  Half of the answers lie below the median and half lie above the median.)
* 75% - 75 percentile (Also known as the third, or upper, quartile. The 75th percentile is the value at which 25% of the answers lie above that value and 75% of the answers lie below that value. Above the 75th or below the 25th percentile)

<h3>4. Data Manipulation</h3>

 Perform filtering, sorting, and selection operations on the data comes under data manipulation.
 Through this we will be able to understand the pattern of the data to some extent.  data).

In [ ]:
#Filtering rows based on selling price greater than 1,00,000 rs.
filtered_data = car_data[car_data['sellingprice'] > 100000]
filtered_data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
1102,2012,Ferrari,California,Base,Convertible,automatic,zff65tja5c0187066,ca,42.0,10902.0,gray,brown,chicago motor car corporation,149000.0,154000.0,Tue Dec 30 2014 12:30:00 GMT-0800 (PST)
5646,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,salgv3tf1ea155989,ca,46.0,5369.0,white,orange,land rover north america llc,136000.0,135000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5676,2014,Land Rover,Range Rover,Supercharged,SUV,automatic,salgs2ef9ea126773,ca,44.0,4460.0,brown,brown,land rover north america llc,103000.0,108000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,wdcyc7df6ex216753,ca,5.0,980.0,charcoal,black,chings trading,133000.0,134000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5960,2013,Bentley,Continental GTC,Base,Convertible,automatic,scbgu3za5dc085358,ca,4.0,16603.0,blue,beige,porsche fin svcs dba bentley financial services,149000.0,139000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557570,2012,Rolls-Royce,Ghost,EWB,sedan,automatic,sca664l50cux65625,ca,36.0,11832.0,white,black,bentley scottsdale,164000.0,169000.0,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
557847,2014,BMW,i8,Base,coupe,automatic,wby2z2c57evx64633,ca,47.0,2944.0,white,brown,pacoima motors,145000.0,138500.0,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
557848,2014,BMW,i8,Base,coupe,automatic,wby2z2c56evx64302,ca,42.0,2668.0,white,brown,carbiz solutions inc.,145000.0,143000.0,Thu Jun 18 2015 05:00:00 GMT-0700 (PDT)
557957,2013,Mercedes-Benz,G-Class,G63 AMG,suv,automatic,wdcyc7df7dx199962,ca,47.0,21727.0,black,black,ferrari of orange county,107000.0,110000.0,Thu Jun 18 2015 05:00:00 GMT-0700 (PDT)
558816,2013,Mercedes-Benz,G-Class,G63 AMG,suv,automatic,wdcyc7df4dx207385,fl,5.0,26799.0,black,black,fields bmw,104000.0,105000.0,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)

In [ ]:
#sorting based on sale date
sorted_data = car_data.sort_values(by='saledate', ascending=True)
sorted_data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
406028,2012,Honda,Odyssey,EX,Minivan,automatic,5fnrl5h49cb060688,pa,35.0,36402.0,gray,gray,ahfc/honda lease trust/hvt inc. eot,19100.0,11700.0,Fri Apr 03 2015 02:00:00 GMT-0700 (PDT)
406035,2012,Nissan,Altima,2.5 S,Coupe,automatic,1n4al2ep3cc210985,pa,34.0,38625.0,white,beige,nissan-infiniti lt,13350.0,23800.0,Fri Apr 03 2015 02:00:00 GMT-0700 (PDT)
406040,2012,Nissan,Murano,SL,SUV,automatic,jn8az1mwxcw204938,pa,42.0,50518.0,white,beige,nissan-infiniti lt,21100.0,9300.0,Fri Apr 03 2015 02:00:00 GMT-0700 (PDT)
406096,2014,Ford,F-150,XL,Regular Cab,automatic,1ftnf1cf8ekd17336,pa,41.0,9260.0,white,gray,u-haul,17650.0,20000.0,Fri Apr 03 2015 02:00:00 GMT-0700 (PDT)
406097,2014,Ford,F-150,XLT,Regular Cab,automatic,1ftnf1cf8ekd16669,pa,36.0,10153.0,white,gray,u-haul,17550.0,19500.0,Fri Apr 03 2015 02:00:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450565,2013,Dodge,Charger,SE,Sedan,automatic,2c3cdxbg3dh636194,il,35.0,62613.0,gray,black,the hertz corporation,13000.0,12900.0,Wed May 27 2015 17:00:00 GMT-0700 (PDT)
407905,2010,Chevrolet,Aveo,Aveo5 LS,Hatchback,automatic,kl1td6de6ab096305,mi,32.0,53040.0,gray,black,pinellas fcu,5450.0,5500.0,Wed May 27 2015 17:00:00 GMT-0700 (PDT)
412874,2011,Chevrolet,Express,LS 3500,Van,automatic,1gazg1fg1b1143512,mi,24.0,52456.0,white,gray,lakeside car rental/l & s car rental,14900.0,14100.0,Wed May 27 2015 17:00:00 GMT-0700 (PDT)
459287,2009,Mercury,Mariner,Premier,SUV,automatic,4m2cu97g89kj15692,mi,39.0,101809.0,white,beige,community choice credit union,9000.0,7500.0,Wed May 27 2015 17:00:00 GMT-0700 (PDT)
414659,2010,Nissan,Rogue,S,SUV,automatic,jn8as5mt0aw507452,mi,22.0,99943.0,silver,gray,first investors financial services,7800.0,5500.0,Wed May 27 2015 17:00:00 GMT-0700 (PDT)

<h3>5. Data Aggregation and Grouping</h3>

  Aggregate data using functions like sum, mean, count, etc., and perform grouping operation.

In [ ]:
#Find the sum of all the values present in the sellingprice column
car_data['sellingprice'].sum()

6466371108.0

In [ ]:
#find the mean, median and mode of the sellingprice column
car_data['sellingprice'].mean()

13690.51205843434

In [ ]:
#find the count of the rows for which the selling price is greater than 100000
car_count = car_data[car_data['sellingprice'] > 100000].count()
print(car_count)

year            151
make            151
model           151
trim            151
body            151
transmission    151
vin             151
state           151
condition       151
odometer        151
color           151
interior        151
seller          151
mmr             151
sellingprice    151
saledate        151
dtype: int64

In [ ]:
#groupby the data based on the model.
grouped_data = car_data.groupby('make')
grouped_data.first()

,year,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
make,,,,,,,,,,,,,,,
Acura,2014,ILX,Technology Package,Sedan,automatic,19vde1f70ee008913,ca,25.0,9051.0,gray,black,american honda motor company,22700.0,21250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Aston Martin,2008,V8 Vantage,N400 Roadster,Convertible,automatic,scfbf04b18gd07963,nv,42.0,23479.0,gray,black,las vegas motorcars llc,54600.0,51000.0,Fri Jan 09 2015 12:00:00 GMT-0800 (PST)
Audi,2014,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,42.0,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
BMW,2014,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
Bentley,2010,Continental GT Speed,Base,Coupe,automatic,scbcp7za3ac065778,ca,3.0,15640.0,black,tan,porsche fin svcs dba bentley financial services,93000.0,96000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
Buick,2014,Enclave,Leather Group,SUV,automatic,5gakrbkd2ej294045,ca,1.0,14599.0,gray,black,enterprise vehicle exchange / tra / rental / t...,31000.0,24100.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
Cadillac,2014,ELR,Base,Coupe,automatic,1g6rr1e48eu601450,ca,47.0,4436.0,gray,black,rogue cu,49400.0,44000.0,Wed Feb 04 2015 04:30:00 GMT-0800 (PST)
Chevrolet,2014,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
Chrysler,2012,200,LX,Sedan,automatic,1c3ccbab5cn208287,ca,21.0,55277.0,black,black,dtg operations inc,8750.0,6900.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
Daewoo,2001,Nubira,SE,Sedan,automatic,klajc52z81k706537,tx,2.0,69106.0,red,tan,titlemax/windcrest tx1,500.0,300.0,Wed Jan 21 2015 04:30:00 GMT-0800 (PST)
Dodge,2012,Avenger,SE,Sedan,automatic,1c3cdzab3cn322875,ca,35.0,65600.0,gray,black,dtg operations inc,7875.0,8300.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
FIAT,2012,500,Sport,Hatchback,manual,3c3cffbr5ct382578,ca,28.0,37547.0,black,black,nvp remarketing,8575.0,8000.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
Ferrari,2012,California,Base,Convertible,automatic,zff65tja5c0187066,ca,42.0,10902.0,gray,brown,chicago motor car corporation,149000.0,154000.0,Tue Dec 30 2014 12:30:00 GMT-0800 (PST)
Fisker,2012,Karma,Eco-Sport,Sedan,automatic,yh4k14aaxca001360,ca,42.0,1806.0,black,yellow,desert european motorcars,53700.0,54500.0,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
Ford,2015,Fusion,SE,Sedan,automatic,3fa6p0hdxfr145753,ca,2.0,5559.0,white,beige,enterprise vehicle exchange / tra / rental / t...,15350.0,12000.0,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
GMC,2012,Terrain,SLE-2,SUV,automatic,2gkalsekxc6314076,ca,3.0,12101.0,silver,black,tradewinds remarketing,17350.0,14950.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
Geo,1997,Prizm,Base,Sedan,automatic,1y1sk5262vz434565,md,2.0,198729.0,red,gray,355 toyota,575.0,300.0,Tue Jan 06 2015 01:30:00 GMT-0800 (PST)
HUMMER,2008,H3,Base,SUV,automatic,5gten13e588135632,ca,48.0,91132.0,black,beige,apexcars net,11950.0,15300.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
Honda,2012,Accord,SE,Sedan,automatic,1hgcp2f64ca037696,ca,26.0,24390.0,black,black,ahfc/honda lease trust/hvt inc. eot,13500.0,13000.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Hyundai,2015,Elantra,SE,Sedan,automatic,5npdh4ae2fh565969,ca,1.0,7879.0,silver,gray,enterprise vehicle exchange / tra / rental / t...,13800.0,10500.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
Infiniti,2013,G Coupe,G37 Sport,G Coupe,automatic,jn1cv6ek4dm921604,ca,45.0,14716.0,white,black,nissan infiniti lt,25900.0,25000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
Isuzu,2004,Rodeo,S,SUV,automatic,4s2ck58w044302484,nc,19.0,132421.0,white,gray,crossroads nissan of wake forest,1800.0,2000.0,Mon Dec 22 2014 09:00:00 GMT-0800 (PST)
Jaguar,2013,XF,Base,Sedan,automatic,sajwa0es1dps79829,ca,42.0,10067.0,black,tan,jaguar north america llc,33700.0,26000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
Jeep,2013,Wrangler,Unlimited Rubicon,SUV,manual,1c4bjwfg4dl585036,ca,47.0,9153.0,red,gray,clear view systems,34300.0,35250.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
Kia,2015,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
Lamborghini,2007,Gallardo,Spyder,Convertible,automatic,zhwgu22t47la04447,fl,42.0,8824.0,yellow,black,tdaf remarketing,120000.0,117500.0,Tue Feb 10 2015 01:00:00 GMT-0800 (PST)
Land Rover,2013,LR4,HSE LUX,SUV,automatic,salak2d48da693027,ca,44.0,2059.0,gray,black,land rover north america llc,58500.0,42000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
Lexus,2015,RX 350,Base,SUV,automatic,2t2zk1ba7fc155782,ca,43.0,7770.0,white,black,lexus financial services,41200.0,38400.0,Tue Dec 30 2014 00:00:00 GMT-0800 (PST)
Lincoln,2013,MKX,Base,SUV,automatic,2lmdj8jk9dbl34528,ca,43.0,39459.0,burgundy,tan,avis rac/san leandro,24700.0,24500.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
Lotus,2007,Exige,S,Coupe,manual,sccvc11137hl80911,ca,27.0,16932.0,black,black,gt3 auto group,40300.0,40800.0,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
MINI,2013,Cooper Clubman,Base,Hatchback,automatic,wmwzf3c54dt489938,ca,37.0,36498.0,green,beige,avis rac/san leandro,13550.0,13600.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
Maserati,2008,GranTurismo,Base,Coupe,automatic,zamgj45a180040499,ca,31.0,41225.0,charcoal,black,auto city sales/leasing,43500.0,40500.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Mazda,2013,Mazda2,Sport,Hatchback,automatic,jm1de1kz8d0152764,ca,2.0,24252.0,black,black,exeter finance corp,9825.0,9100.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Mercedes-Benz,2013,S-Class,S550,Sedan,automatic,wddng7db2da502214,ca,36.0,4811.0,black,black,mercedes-benz financial services,55100.0,45500.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
Mercury,2008,Milan,Premier,Sedan,automatic,3mehm081x8r649013,ca,19.0,68929.0,black,black,hornburg jaguar,7025.0,6400.0,Wed Dec 17 2014 12:15:00 GMT-0800 (PST)
Mitsubishi,2013,Outlander,SE,SUV,automatic,ja4jt3aw5du020785,ca,39.0,36071.0,silver,black,avis rac/san leandro,14750.0,15000.0,Wed Dec 31 2014 12:30:00 GMT-0800 (PST)
Nissan,2015,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
Oldsmobile,2003,Alero,GL1,Sedan,automatic,1g3nl52f73c288579,ca,19.0,134170.0,blue,gray,800 loan mart,1325.0,500.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Plymouth,1998,Neon,Style,Sedan,automatic,3p3es47c6wt223355,nv,2.0,120207.0,red,—,titlemax/las vegas nv24,575.0,450.0,Thu Dec 18 2014 11:00:00 GMT-0800 (PST)
Pontiac,2009,G5,Base,Coupe,automatic,1g2as18h297168908,ca,26.0,123631.0,gray,black,california fleet inc,3275.0,3600.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Porsche,2013,Cayenne,Base,SUV,automatic,wp1aa2a26dla06093,ca,37.0,15746.0,gray,black,the hertz corporation,49300.0,46500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
Ram,2012,1500,ST,Regular Cab,automatic,3c6jd6ak6cg143165,ca,36.0,81338.0,white,black,myrddin fleet services,11750.0,10000.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Rolls-Royce,2010,Ghost,Base,Sedan,automatic,sca664s51aux48718,wi,4.0,8440.0,gray,beige,toyota financial services,157000.0,149800.0,Wed Dec 17 2014 10:00:00 GMT-0800 (PST)
Saab,2006,9-3,2.0T,Convertible,automatic,ys3fd79y766100305,ca,19.0,73926.0,black,gray,m l sim,5075.0,4700.0,Tue Jan 06 2015 12:30:00 GMT-0800 (PST)
Saturn,2008,VUE,XR,SUV,automatic,3gscl53788s507277,ca,36.0,61213.0,blue,gray,jpmorgan chase bank n.a.,8025.0,7100.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Scion,2013,FR-S,Base,Coupe,automatic,jf1znaa14d2706815,ca,24.0,46283.0,red,black,stream llc dba stream remarketing solutions,15800.0,10600.0,Tue Dec 23 2014 13:30:00 GMT-0800 (PST)
Subaru,2013,Impreza WRX,Base,Sedan,manual,jf1gv7e63dg034961,ca,42.0,9419.0,blue,black,gossler motors,22600.0,23750.0,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
Suzuki,2003,XL-7,Limited,SUV,automatic,js3ty92v834101045,ca,19.0,105581.0,silver,gray,santander consumer,1775.0,1700.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
Tesla,2013,Model S,Performance,Sedan,automatic,5yjsa1cp9dfp03379,tx,5.0,4137.0,white,silver,earth motorcars llc,87000.0,80000.0,Thu Dec 18 2014 11:00:00 GMT-0800 (PST)
Toyota,2013,Corolla,LE,Sedan,automatic,5yfbu4ee5dp216754,ca,1.0,34915.0,black,gray,enterprise vehicle exchange / tra / rental / t...,11400.0,9200.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
Volkswagen,2013,Passat,SE PZEV,Sedan,automatic,1vwbp7a36dc103091,ca,1.0,22907.0,white,black,vw credit,14450.0,8000.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
Volvo,2015,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
smart,2012,fortwo,passion coupe,Hatchback,automatic,wmeej3baxck524809,ca,44.0,39963.0,silver,black,mercedes-benz financial services,5975.0,7250.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)